<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>ajax交互</title>
    <link href="../../../favicon.ico" type="image/x-icon" rel="shortcut icon">
    <!-- 引入 echarts.js -->
    <script src="../../../static/echarts.js"></script>
    <!-- 引入 echarts.js -->
    <script src="../../../static/jQuery/jquery-3.3.1.min.js"></script>    
    <script>
         $.ajax({
          type:'get',
          url:'__URL__/data',  //数据传输的控制器方法
          dataType : "json",//加入返回数据类型
          success:function(data){
              
              //jsons=data;
              if (data != null && data.length > 0) {
                for(var i=0;i<data.length;i++){       
                       console.log(data[i].value);        //挨个取出温度、湿度、压强等值并填入前面声明的温度、湿度、压强等数组
                    }
                console.log(data);               
                //console.log(data[0][1].value);
                //console.log(data[array[1].value]);
          }
          },
          error: function () {
                    alert("数据加载失败！");
                }
         });
       </script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            color: [
                '#FF3333'  //温度曲线颜色
            ],
            xAxis: {
                data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
            },
            yAxis: {
                //第一个（左边）Y轴，yAxisIndex为0
                type : 'value',
                name : '温度',
                 /* max: 120,
                min: -40, */
                axisLabel : {
                    formatter: '{value} ℃'    //控制输出格式
                }
            },
            series: [{
                name: '销量',
                type: 'line',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</body>
</html>




