<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>无标题文档</title>
</head>
<body>

</body>
<script language="JavaScript">
    var Ocontent = document.getElementById('content') ;
    var oli = "";
    var i = 0;
    ajax({
        type:'get',
        url:'__URL__/data',
        data:'',
        success: function (msg){
            //console.log(msg);//typeof (msg)
           var data = JSON.parse(msg);
          /* console.log(data);
           console.log(data.length);
           console.log(data[2].value);
           
           for(var j = 0;j<data.length;j++) {
               console.log(data[j].property);
               oli += '<li>' +
                   '<a href="#">'+data[j].property+'</a>' +
                   '<a href="#" class="title">'+data[j].value+'</a>' +
                   '<span style="">2017-10-12 18:09:00</span>' +
                   '</li>';
           }
           */
            var oUL = document.createElement('ul');
            oUL.innerHTML=oli;
            Ocontent.appendChild(oUL);
        },
        error: function(status) {
            alert(status);
        }
    });//花括号中是对象
    
    function ajax(mJson) {
        var type = mJson.type;
        var url = mJson.url;
        var data = mJson.data;
        var success = mJson.success;
        var error = mJson.error;

        var xmhr = new XMLHttpRequest();
        xmhr.open(type,url,true);
        xmhr.send();
        xmhr.onreadystatechange = function () {
            if(xmhr.readyState == 4){
                if(xmhr.status == 200){
                    success&&success(xmhr.responseText);
                }else {
                    error&&error(xmhr.status);
                }
            }
        }
    }
</script>
</html>